In [1]:
import numpy as np
import pandas as pd

In [3]:
#leer el csv de la web y guardarlo en local:
#una vez guardado, esta casilla se puede comentar:
import requests
import os

# URL del archivo
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/refs/heads/master/titanic.csv"

# Nombre de la carpeta y del archivo
carpeta = "data"
nombre_archivo = "titanic.csv"

# Crear la carpeta si no existe
os.makedirs(carpeta, exist_ok=True)

# Ruta completa del archivo
ruta_archivo = os.path.join(carpeta, nombre_archivo)

# Descargar el contenido
respuesta = requests.get(url)

# Verificar que la solicitud fue exitosa y guardar el archivo
if respuesta.status_code == 200:
    with open(ruta_archivo, "wb") as archivo:
        archivo.write(respuesta.content)
    print(f"Archivo guardado en {ruta_archivo}")
else:
    print("Error al descargar el archivo")

Archivo guardado en data/titanic.csv

In [4]:
data = pd.read_csv(ruta_archivo) #aquí dejo el original de lectura de datos

data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [5]:
class RegresionLogisticaBootcamp:
    def __init__(self, learning_rate = 0.01, max_iter =1000):
        self.learning_rate = learning_rate
        self.max_iter = max_iter
        self.pesos = None           # en inglés weights
        self.sesgo = None           # en inglés, bias
    
    def _sigmoide (self, z):
        return 1/ (1 + np.exp(-z))
    
    def _binary_cross_entropy (self, y_true, y_pred):
        
        epsilon = 1e-15   #número fijo, que viene de log(0)
        y_pred = np.clip(y_pred, epsilon, 1-epsilon)    # es una fórmula fija, clip nos viene muy bien para llevar
                                # los números del umbral para arriba al 1, y los del umbral para abajo al 0
        return -np.mean (y_true * np.log (y_pred) + (1 - y_true) * np.log (1 - y_pred))
    
    def fit (self, df, target):
        X = df.drop (columns=target). values
        y = df[target].values
        
        # en este caso estoy buscando iteraciones hasta encontrar donde la perdida es la menor
        
        n_filas, n_columnas = X.shape
        self.pesos = np.zeros (n_columnas)
        self.sesgo = 0
        
        for i in range (self.max_iter):
            
            modelo_lineal = np.dot (X, self.pesos) + self.sesgo     #construyo la función para tener z
            
            y_pred = self._sigmoide (modelo_lineal)         #le paso al metodo _sigmoide el valor z que he construido
            
            dw = (1 / n_filas)* np.dot (X.T, (y_pred - y))       #aquí defino los pesos
            db = (1 / n_filas) + np.sum (y_pred -y)     #aquí defino el sesgo, bias

            self.pesos -= self.learning_rate * dw
            self.sesgo -= self.learning_rate * db
            
            if i % 100 == 0:
                loss = self._binary_cross_entropy (y, y_pred)
                print (f'Iteración (i) : Loss (loss)')
                
    def predict_proba (self, df):

        if self.pesos is None or self.sesgo is None:
            raise Exception ("El modelo no ha sido entrenado.")
    
        modelo_lineal = np.dot (X, self.pesos) + self.sesgo  
        
        return self._sigmoide (modelo_lineal)
                
    def predict (self, df, umbral = 0.5):
    
        if self.pesos is None or self.sesgo is None:
            raise Exception ("El modelo no ha sido entrenado.")
        
        probabilidad = self.predict_proba (df)
       
        return (probabilidad >= umbral).astype(int)

podría demostrar cual es la diferencia de mi clase contra LinearModel

In [6]:
from sklearn.linear_model import LogisticRegression