# Fictitious Names

### Paso 1. Importar librerias

In [ ]:
import pandas as pd
import numpy as np
from utils.funciones_agv import Display

In [2]:
import os

In [3]:
from pahtlib import Path

ModuleNotFoundError: No module named 'pahtlib'

In [ ]:
notebook_dir = Path().resolve()

In [ ]:
proyect_root = notebook_dir.parents [0] .3introduczo el nivel, o es el mismo nivel, 1 es subri uno, 2 es subir dos...

In [1]:
list (os.walk(proyect_root))

NameError: name 'os' is not defined

In [ ]:
#otra opción
sys.path.append(r'..')

In [ ]:
from ..utils import * import    #ahora no funcionan esos dos puntos, tengo que hacerlo con la instrucción anterior.

### Paso 2. Cree los 3 DataFrames a partir de los siguientes datos brutos

In [ ]:
raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

raw_data_2 = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

### Paso 3. Asigna cada uno a una variable llamada data1, data2, data3

In [ ]:
data1= pd.DataFrame(raw_data_1)
data2= pd.DataFrame(raw_data_2)
data3= pd.DataFrame(raw_data_3)

In [ ]:
data1, data2, data3

In [ ]:
type(data1)

### Paso 4. Unir los dos marcos de datos a lo largo de las filas y asignar all_data

In [ ]:
#all_data = pd.concat ([data1, data2])
all_data = pd.concat ([data1, data2], axis = 0)
all_data

In [ ]:
all_data = pd.concat ([data1, data2], ignore_index=True)
all_data

### Paso 5. Unir los dos marcos de datos a lo largo de las columnas y asignar a all_data_col

In [ ]:
all_data_col = pd.concat ([all_data,data3], axis = 'columns')
all_data_col

### Paso 6. Imprimir datos3

In [ ]:
data3

### Paso 7. Fusionar all_data y data3 a lo largo del valor subject_id

In [ ]:
all_data_col = pd.merge (all_data,data3)
all_data_col

In [ ]:
all_data_col = pd.merge (all_data,data3, left_index= True, right_index= True)
all_data_col

### Paso 8. Fusione sólo los datos que tengan el mismo "subject_id" tanto en data1 como en data2.

In [ ]:
data1

In [ ]:
data2

In [ ]:
d8 = pd.merge (data1,data2,on = 'subject_id', how ='inner')
d8

### Paso 9. Fusione todos los valores de data1 y data2, con registros coincidentes y no coincidentes de ambos lados cuando estén disponibles.

In [ ]:
d9 = pd.merge (data1,data2,on = 'subject_id', how ='outer', suffixes=('_df1','_df2'))
d9

In [ ]:
#si deseo eliminar el indice y convertir subject_id en indice...
d9b = d9.reset_index(drop=True).set_index('subject_id')
d9b