# SQL

## Instalación de PostgreSQL
Si aún no tienes PostgreSQL instalado, puedes instalarlo manualmente dependiendo de tu sistema operativo:

### En Ubuntu/Debian:

```bash
sudo apt-get update
sudo apt-get install postgresql postgresql-contrib
sudo service postgresql start
```

### En macOS usando Homebrew:

```bash
brew update
brew install postgresql
brew services start postgresql
```

### En Windows:
Puedes descargar el instalador de PostgreSQL desde la [página oficial](https://www.postgresql.org/download/windows/). Durante la instalación, asegúrate de incluir pgAdmin y otras herramientas útiles.

Una vez instalado, el servicio PostgreSQL debería iniciar automáticamente. Si no, puedes iniciarlo desde el "Services" o "Servicios".

## Configuración

### En Mac y Linux:

```bash
sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER PASSWORD 'tu_contraseña';"
```

### En Windows:
1. Incluir PostgreSQL en las variables de entorno
```text
    C:\Program Files\PostgreSQL\16\bin
```
2. Abre la "Terminal" como administrador.

3. Ejecuta psql:
```bash
    psql -U postgres
```
4. Dentro de psql, ejecuta el comando:
```SQL
    CREATE USER root WITH SUPERUSER PASSWORD 'tu_contraseña';
```

## Conexión a PostgreSQL usando SQLAlchemy

In [12]:
import os
import sqlite3

sqlite_output_file = "practica_sql_clase9nov24.db"

if not os.path.exists(sqlite_output_file):
    conn = sqlite3.connect(sqlite_output_file)
    cursor = conn.cursor()    
    conn.commit()
    
    print(f"Base de datos SQLite guardada como: {sqlite_output_file}")
    
    conn.close()

Base de datos SQLite guardada como: practica_sql_clase9nov24.db

In [1]:
import os
import pandas as pd
import polars as pl
from typing import Union
from sqlalchemy import create_engine, text          #la librería que más le gusta
from dotenv import load_dotenv          #inserta credenciales, usuario y contraseña
import sqlite3

load_dotenv()

# Reemplaza USER y PASSWORD del .env
#engine = create_engine(f"postgresql+psycopg2://{os.getenv('USER')}:{os.getenv('PASSWORD')}@localhost:5432/postgres")
engine = create_engine("sqlite:///practica_sql_clase9nov24.db", echo=True)        #sqlite no tiene usuario y contraseña pues está en local

# Probar la conexión
try:
    connection = engine.connect()
    print("Conexión exitosa")
    connection.close()
except Exception as e:
    print(f"Error al conectar: {e}")


def ejecutar_query(query: str, devolver_polars: bool = False) -> Union[pd.DataFrame, pl.DataFrame, str]:
    """
    Ejecuta una consulta SQL en la base de datos y devuelve un DataFrame.

    Parámetros:
    - query (str): La consulta SQL a ejecutar.
    - devolver_polars (bool): Si es True, devuelve un polars DataFrame, si no, devuelve un pandas DataFrame (por defecto).

    Retorna:
    - Union[pd.DataFrame, pl.DataFrame, str]: Retorna un DataFrame en pandas o polars dependiendo del parámetro 'devolver_polars',
      o un mensaje de éxito/error si la operación no es un SELECT.
    """
    
    with engine.connect() as connection:
        try:
            result = connection.execute(text(query))
            
            # Determinar si es una consulta SELECT para devolver datos
            if result.returns_rows:
                rows = result.fetchall()
                columns = result.keys()

                # Convertir filas en un diccionario de listas para crear correctamente el DataFrame en polars
                data_dict = {col: [row[idx] for row in rows] for idx, col in enumerate(columns)}

                # Verificación de coincidencia de columnas y filas
                if devolver_polars:
                    return pl.DataFrame(data_dict)
                else:
                    return pd.DataFrame(data_dict)
            else:
                connection.commit()
                return f"Query ejecutada correctamente: {result.rowcount} filas afectadas."
        except Exception as e:
            return f"Error al ejecutar la query: {e}"

Conexión exitosa

### Crear base de datos

In [2]:
query_crear_schema =  "CREATE SCHEMA IF NOT EXISTS bootcamp"
ejecutar_query(query=query_crear_schema)

2024-12-11 18:57:54,584 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 18:57:54,586 INFO sqlalchemy.engine.Engine CREATE SCHEMA IF NOT EXISTS bootcamp
2024-12-11 18:57:54,601 INFO sqlalchemy.engine.Engine [generated in 0.02006s] ()
2024-12-11 18:57:54,617 INFO sqlalchemy.engine.Engine ROLLBACK

'Error al ejecutar la query: (sqlite3.OperationalError) near "SCHEMA": syntax error\n[SQL: CREATE SCHEMA IF NOT EXISTS bootcamp]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)'

## DDL - Crear tablas

### Tabla Customers



```
CREATE TABLE IF NOT EXISTS Customers (
  customer_id INT NOT NULL,
  customer_name VARCHAR(50) NOT NULL,
  fecha_inicio DATE NOT NULL,
  fecha_fin DATE,
  PRIMARY KEY (customer_id)
  );
```

In [3]:
query_crear_tabla1 = "CREATE TABLE IF NOT EXISTS Customers (customer_id INT NOT NULL, customer_name VARCHAR(50) NOT NULL, fecha_inicio DATE NOT NULL, fecha_fin DATE, PRIMARY KEY (customer_id));"
ejecutar_query(query= query_crear_tabla1)

2024-12-11 18:58:01,706 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 18:58:01,738 INFO sqlalchemy.engine.Engine CREATE TABLE IF NOT EXISTS Customers (customer_id INT NOT NULL, customer_name VARCHAR(50) NOT NULL, fecha_inicio DATE NOT NULL, fecha_fin DATE, PRIMARY KEY (customer_id));
2024-12-11 18:58:01,740 INFO sqlalchemy.engine.Engine [generated in 0.05224s] ()
2024-12-11 18:58:01,745 INFO sqlalchemy.engine.Engine COMMIT

'Query ejecutada correctamente: -1 filas afectadas.'

### Tabla Orders



```
CREATE TABLE IF NOT EXISTS Orders (
  order_id INT NOT NULL,
  customer_id INT NOT NULL,
  order_date DATE NOT NULL,
  order_price DECIMAL(8,2),
  PRIMARY KEY (order_id),
FOREIGN KEY (customer_id) REFERENCES Customers(customer_id)
  );
```

In [4]:
query_crear_tabla2 = "CREATE TABLE IF NOT EXISTS Orders (order_id INT NOT NULL, customer_id INT NOT NULL, order_date DATE NOT NULL, order_price DECIMAL(8,2), PRIMARY KEY (order_id), FOREIGN KEY (customer_id) REFERENCES Customers(customer_id));"
ejecutar_query(query= query_crear_tabla2)

2024-12-11 18:58:21,849 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 18:58:21,857 INFO sqlalchemy.engine.Engine CREATE TABLE IF NOT EXISTS Orders (order_id INT NOT NULL, customer_id INT NOT NULL, order_date DATE NOT NULL, order_price DECIMAL(8,2), PRIMARY KEY (order_id), FOREIGN KEY (customer_id) REFERENCES Customers(customer_id));
2024-12-11 18:58:21,859 INFO sqlalchemy.engine.Engine [generated in 0.00981s] ()
2024-12-11 18:58:21,862 INFO sqlalchemy.engine.Engine COMMIT

'Query ejecutada correctamente: -1 filas afectadas.'

### Tabla Shipments

```
CREATE TABLE IF NOT EXISTS Shipments (
  shipment_id INT NOT NULL,
  order_id INT NOT NULL,
  shipment_date DATE NOT NULL,
  shipment_city VARCHAR(50),
  PRIMARY KEY (shipment_id),
  FOREIGN KEY (order_id) REFERENCES Orders(order_id)
  );

```

In [13]:
query_crear_tabla3 = "CREATE TABLE IF NOT EXISTS Shipments ( shipment_id INT NOT NULL, order_id INT NOT NULL, shipment_date DATE NOT NULL, shipment_city VARCHAR(50), PRIMARY KEY (shipment_id), FOREIGN KEY (order_id) REFERENCES Orders(order_id));"
ejecutar_query(query_crear_tabla3)

2024-12-11 19:07:45,979 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:07:46,018 INFO sqlalchemy.engine.Engine CREATE TABLE IF NOT EXISTS Shipments ( shipment_id INT NOT NULL, order_id INT NOT NULL, shipment_date DATE NOT NULL, shipment_city VARCHAR(50), PRIMARY KEY (shipment_id), FOREIGN KEY (order_id) REFERENCES Orders(order_id));
2024-12-11 19:07:46,021 INFO sqlalchemy.engine.Engine [generated in 0.04187s] ()
2024-12-11 19:07:46,026 INFO sqlalchemy.engine.Engine COMMIT

'Query ejecutada correctamente: -1 filas afectadas.'

### Check que se hayan creado las tablas

In [14]:
#esta parte no se ejecuta bien, aunque eliminemos Bootcamp
query = "SELECT * FROM information_schema.tables WHERE table_schema = 'bootcamp';"
ejecutar_query(query=query)

2024-12-11 19:07:49,347 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:07:49,354 INFO sqlalchemy.engine.Engine SELECT * FROM information_schema.tables WHERE table_schema = 'bootcamp';
2024-12-11 19:07:49,361 INFO sqlalchemy.engine.Engine [generated in 0.01392s] ()
2024-12-11 19:07:49,369 INFO sqlalchemy.engine.Engine ROLLBACK

"Error al ejecutar la query: (sqlite3.OperationalError) no such table: information_schema.tables\n[SQL: SELECT * FROM information_schema.tables WHERE table_schema = 'bootcamp';]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)"

## DML - Insertar datos ficticios



```
INSERT INTO Customers 
VALUES 
(1, 'Juan', '1989-04-08', Null),
(2, 'Mario', '2005-05-05', Null),
(3, 'Laura', '2020-03-21', '2022-02-05')
;
```

In [15]:
query= "INSERT INTO Customers VALUES (1, 'Juan', '1989-04-08', Null), (2, 'Mario', '2005-05-05', Null), (3, 'Laura', '2020-03-21', '2022-02-05')"
ejecutar_query(query=query)

2024-12-11 19:07:53,496 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:07:53,588 INFO sqlalchemy.engine.Engine INSERT INTO Customers VALUES (1, 'Juan', '1989-04-08', Null), (2, 'Mario', '2005-05-05', Null), (3, 'Laura', '2020-03-21', '2022-02-05')
2024-12-11 19:07:53,598 INFO sqlalchemy.engine.Engine [cached since 61.95s ago] ()
2024-12-11 19:07:53,664 INFO sqlalchemy.engine.Engine ROLLBACK

"Error al ejecutar la query: (sqlite3.IntegrityError) UNIQUE constraint failed: Customers.customer_id\n[SQL: INSERT INTO Customers VALUES (1, 'Juan', '1989-04-08', Null), (2, 'Mario', '2005-05-05', Null), (3, 'Laura', '2020-03-21', '2022-02-05')]\n(Background on this error at: https://sqlalche.me/e/20/gkpj)"



```
INSERT INTO bootcamp.Orders
VALUES
(1, 1, '2022-05-06', 45),
(2, 1, '2021-05-06', 60),
(3, 1, '2022-06-06', 70),
(4, 2, '2022-05-01', 5),
(5, 3, '2022-10-06', 145),
(6, 3, '2022-02-03', 2)
;
```

In [16]:
query = "INSERT INTO Orders VALUES (1, 1, '2022-05-06', 45), (2, 1, '2021-05-06', 60), (3, 1, '2022-06-06', 70), (4, 2, '2022-05-01', 5), (5, 3, '2022-10-06', 145), (6, 3, '2022-02-03', 2);"
ejecutar_query(query=query)

2024-12-11 19:07:56,154 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:07:56,178 INFO sqlalchemy.engine.Engine INSERT INTO Orders VALUES (1, 1, '2022-05-06', 45), (2, 1, '2021-05-06', 60), (3, 1, '2022-06-06', 70), (4, 2, '2022-05-01', 5), (5, 3, '2022-10-06', 145), (6, 3, '2022-02-03', 2);
2024-12-11 19:07:56,182 INFO sqlalchemy.engine.Engine [cached since 334.8s ago] ()
2024-12-11 19:07:56,184 INFO sqlalchemy.engine.Engine ROLLBACK

"Error al ejecutar la query: (sqlite3.IntegrityError) UNIQUE constraint failed: Orders.order_id\n[SQL: INSERT INTO Orders VALUES (1, 1, '2022-05-06', 45), (2, 1, '2021-05-06', 60), (3, 1, '2022-06-06', 70), (4, 2, '2022-05-01', 5), (5, 3, '2022-10-06', 145), (6, 3, '2022-02-03', 2);]\n(Background on this error at: https://sqlalche.me/e/20/gkpj)"


```
INSERT INTO bootcamp.Shipments 
VALUES 
(1, 1, '2022-06-06', 'Barcelona'), 
(2, 2, '2021-06-06', 'Madrid'), 
(3, 3, '2022-06-10', 'Barcelona'), 
(4, 4, '2022-02-05', 'Vigo'), 
(5, 5, '2022-06-15', 'Barcelona'), 
(6, 6, '2022-03-05', 'Madrid')
;
```

In [17]:
query= "INSERT INTO Shipments VALUES (1, 1, '2022-06-06', 'Barcelona'), (2, 2, '2021-06-06', 'Madrid'), (3, 3, '2022-06-10', 'Barcelona'), (4, 4, '2022-02-05', 'Vigo'), (5, 5, '2022-06-15', 'Barcelona'), (6, 6, '2022-03-05', 'Madrid');"
ejecutar_query(query=query)

2024-12-11 19:07:59,314 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:07:59,399 INFO sqlalchemy.engine.Engine INSERT INTO Shipments VALUES (1, 1, '2022-06-06', 'Barcelona'), (2, 2, '2021-06-06', 'Madrid'), (3, 3, '2022-06-10', 'Barcelona'), (4, 4, '2022-02-05', 'Vigo'), (5, 5, '2022-06-15', 'Barcelona'), (6, 6, '2022-03-05', 'Madrid');
2024-12-11 19:07:59,472 INFO sqlalchemy.engine.Engine [cached since 328.4s ago] ()
2024-12-11 19:07:59,500 INFO sqlalchemy.engine.Engine ROLLBACK

"Error al ejecutar la query: (sqlite3.IntegrityError) UNIQUE constraint failed: Shipments.shipment_id\n[SQL: INSERT INTO Shipments VALUES (1, 1, '2022-06-06', 'Barcelona'), (2, 2, '2021-06-06', 'Madrid'), (3, 3, '2022-06-10', 'Barcelona'), (4, 4, '2022-02-05', 'Vigo'), (5, 5, '2022-06-15', 'Barcelona'), (6, 6, '2022-03-05', 'Madrid');]\n(Background on this error at: https://sqlalche.me/e/20/gkpj)"

## DDL - Consulas SELECT

1. Retorna todos los registros de la tabla Customers.

In [18]:
query= ""
ejecutar_query(query=query, devolver_polars=True)  #si dejo False, me devuelve un Df de Pandas, pero si pongo True, está usando Polars de Rust, 
                #lenguaje de programación próximo a C, mucho más rápido

2024-12-11 19:08:02,102 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:08:02,158 INFO sqlalchemy.engine.Engine
2024-12-11 19:08:02,169 INFO sqlalchemy.engine.Engine [cached since 232s ago] ()
2024-12-11 19:08:02,190 INFO sqlalchemy.engine.Engine COMMIT

'Query ejecutada correctamente: -1 filas afectadas.'

2. Retorna la cantidad de envios por shipment_city

In [ ]:
query ='SELECT * FROM Shipments'     #lo primero, saber las ciudades que hay

ejecutar_query(query=query, devolver_polars=True)

2024-12-11 19:08:31,785 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:08:31,901 INFO sqlalchemy.engine.Engine SELECT * FROM Shipments
2024-12-11 19:08:31,914 INFO sqlalchemy.engine.Engine [generated in 0.12891s] ()
2024-12-11 19:08:31,931 INFO sqlalchemy.engine.Engine ROLLBACK

shape: (6, 4)
┌─────────────┬──────────┬───────────────┬───────────────┐
│ shipment_id ┆ order_id ┆ shipment_date ┆ shipment_city │
│ ---         ┆ ---      ┆ ---           ┆ ---           │
│ i64         ┆ i64      ┆ str           ┆ str           │
╞═════════════╪══════════╪═══════════════╪═══════════════╡
│ 1           ┆ 1        ┆ 2022-06-06    ┆ Barcelona     │
│ 2           ┆ 2        ┆ 2021-06-06    ┆ Madrid        │
│ 3           ┆ 3        ┆ 2022-06-10    ┆ Barcelona     │
│ 4           ┆ 4        ┆ 2022-02-05    ┆ Vigo          │
│ 5           ┆ 5        ┆ 2022-06-15    ┆ Barcelona     │
│ 6           ┆ 6        ┆ 2022-03-05    ┆ Madrid        │
└─────────────┴──────────┴───────────────┴───────────────┘

In [24]:
query ='SELECT COUNT(*), shipment_city FROM Shipments GROUP BY shipment_city'

ejecutar_query(query=query, devolver_polars=True)

2024-12-11 19:12:24,148 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:12:24,182 INFO sqlalchemy.engine.Engine SELECT COUNT(*), shipment_city FROM Shipments GROUP BY shipment_city
2024-12-11 19:12:24,222 INFO sqlalchemy.engine.Engine [generated in 0.07339s] ()
2024-12-11 19:12:24,230 INFO sqlalchemy.engine.Engine ROLLBACK

shape: (3, 2)
┌──────────┬───────────────┐
│ COUNT(*) ┆ shipment_city │
│ ---      ┆ ---           │
│ i64      ┆ str           │
╞══════════╪═══════════════╡
│ 3        ┆ Barcelona     │
│ 2        ┆ Madrid        │
│ 1        ┆ Vigo          │
└──────────┴───────────────┘

In [ ]:
#si prefiero el orden contrario, le doy la vuelta
query ='SELECT shipment_city, COUNT(*) FROM Shipments GROUP BY shipment_city'

ejecutar_query(query=query, devolver_polars=True)

2024-12-11 19:20:17,847 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:20:17,858 INFO sqlalchemy.engine.Engine SELECT shipment_city, COUNT(*) FROM Shipments GROUP BY shipment_city
2024-12-11 19:20:17,861 INFO sqlalchemy.engine.Engine [cached since 421.6s ago] ()
2024-12-11 19:20:17,865 INFO sqlalchemy.engine.Engine ROLLBACK

In [38]:
tabla.groupby('shipment_city')[['shipment_id']].count().reset_index()

AttributeError: 'DataFrame' object has no attribute 'groupby'

3. Retorna la cantidad de envios a Barcelona

In [ ]:
query ='SELECT shipment_city, COUNT(*) FROM Shipments GROUP BY shipment_city LIMIT 1'
# con LIMIT 1 usamos la ciudad que está en primer lugar

ejecutar_query(query=query, devolver_polars=True)

2024-12-11 19:22:28,638 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:22:28,652 INFO sqlalchemy.engine.Engine SELECT shipment_city, COUNT(*) FROM Shipments GROUP BY shipment_city LIMIT 1
2024-12-11 19:22:28,654 INFO sqlalchemy.engine.Engine [generated in 0.01664s] ()
2024-12-11 19:22:28,662 INFO sqlalchemy.engine.Engine ROLLBACK

shape: (1, 2)
┌───────────────┬──────────┐
│ shipment_city ┆ COUNT(*) │
│ ---           ┆ ---      │
│ str           ┆ i64      │
╞═══════════════╪══════════╡
│ Barcelona     ┆ 3        │
└───────────────┴──────────┘

In [46]:
# otra opción sería WHERE y buscarlo, dado que podíamos no encontrar la ciuda entre 50000
query ='SELECT shipment_city, COUNT(*) FROM Shipments WHERE shipment_city = "Barcelona" GROUP BY shipment_city'


ejecutar_query(query=query, devolver_polars=True)

2024-12-11 19:25:43,220 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:25:43,237 INFO sqlalchemy.engine.Engine SELECT shipment_city, COUNT(*) FROM Shipments WHERE shipment_city = "Barcelona" GROUP BY shipment_city
2024-12-11 19:25:43,239 INFO sqlalchemy.engine.Engine [cached since 14.57s ago] ()
2024-12-11 19:25:43,244 INFO sqlalchemy.engine.Engine ROLLBACK

shape: (1, 2)
┌───────────────┬──────────┐
│ shipment_city ┆ COUNT(*) │
│ ---           ┆ ---      │
│ str           ┆ i64      │
╞═══════════════╪══════════╡
│ Barcelona     ┆ 3        │
└───────────────┴──────────┘

4. Retorna todas las ordenes mayores a €50

In [48]:
query= 'SELECT * FROM Orders'

ejecutar_query(query=query, devolver_polars=True)

2024-12-11 19:26:26,978 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:26:27,038 INFO sqlalchemy.engine.Engine SELECT * FROM Orders
2024-12-11 19:26:27,047 INFO sqlalchemy.engine.Engine [generated in 0.06908s] ()
2024-12-11 19:26:27,050 INFO sqlalchemy.engine.Engine ROLLBACK

shape: (6, 4)
┌──────────┬─────────────┬────────────┬─────────────┐
│ order_id ┆ customer_id ┆ order_date ┆ order_price │
│ ---      ┆ ---         ┆ ---        ┆ ---         │
│ i64      ┆ i64         ┆ str        ┆ i64         │
╞══════════╪═════════════╪════════════╪═════════════╡
│ 1        ┆ 1           ┆ 2022-05-06 ┆ 45          │
│ 2        ┆ 1           ┆ 2021-05-06 ┆ 60          │
│ 3        ┆ 1           ┆ 2022-06-06 ┆ 70          │
│ 4        ┆ 2           ┆ 2022-05-01 ┆ 5           │
│ 5        ┆ 3           ┆ 2022-10-06 ┆ 145         │
│ 6        ┆ 3           ┆ 2022-02-03 ┆ 2           │
└──────────┴─────────────┴────────────┴─────────────┘

In [51]:
query= 'SELECT * FROM Orders WHERE order_price >50'

ejecutar_query(query=query, devolver_polars=True)

2024-12-11 19:27:28,347 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:27:28,365 INFO sqlalchemy.engine.Engine SELECT * FROM Orders WHERE order_price >50
2024-12-11 19:27:28,370 INFO sqlalchemy.engine.Engine [generated in 0.02273s] ()
2024-12-11 19:27:28,373 INFO sqlalchemy.engine.Engine ROLLBACK

shape: (3, 4)
┌──────────┬─────────────┬────────────┬─────────────┐
│ order_id ┆ customer_id ┆ order_date ┆ order_price │
│ ---      ┆ ---         ┆ ---        ┆ ---         │
│ i64      ┆ i64         ┆ str        ┆ i64         │
╞══════════╪═════════════╪════════════╪═════════════╡
│ 2        ┆ 1           ┆ 2021-05-06 ┆ 60          │
│ 3        ┆ 1           ┆ 2022-06-06 ┆ 70          │
│ 5        ┆ 3           ┆ 2022-10-06 ┆ 145         │
└──────────┴─────────────┴────────────┴─────────────┘

5. Retorna el cliente que más dinero gasto

In [ ]:
query= 'SELECT * FROM Orders '

ejecutar_query(query=query)

2024-12-11 19:31:35,262 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:31:35,281 INFO sqlalchemy.engine.Engine SELECT * FROM Orders
2024-12-11 19:31:35,285 INFO sqlalchemy.engine.Engine [cached since 308.3s ago] ()
2024-12-11 19:31:35,319 INFO sqlalchemy.engine.Engine ROLLBACK

   order_id  customer_id  order_date  order_price
0         1            1  2022-05-06           45
1         2            1  2021-05-06           60
2         3            1  2022-06-06           70
3         4            2  2022-05-01            5
4         5            3  2022-10-06          145
5         6            3  2022-02-03            2

In [60]:
query= 'SELECT customer_id, sum(order_price) as TotalPedidos FROM Orders GROUP BY customer_id ORDER BY TotalPedidos DESC LIMIT 1'

ejecutar_query(query=query)

2024-12-11 19:40:47,991 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:40:48,070 INFO sqlalchemy.engine.Engine SELECT customer_id, sum(order_price) as TotalPedidos FROM Orders GROUP BY customer_id ORDER BY TotalPedidos DESC LIMIT 1
2024-12-11 19:40:48,072 INFO sqlalchemy.engine.Engine [generated in 0.08107s] ()
2024-12-11 19:40:48,086 INFO sqlalchemy.engine.Engine ROLLBACK

   customer_id  TotalPedidos
0            1           175

6. Y que si queremos ver el nombre del cliente? Dato que se encuentra en otra tabla.

In [ ]:
query= "SELECT Customers.customer_name AS Nombre FROM Customers FULL JOIN ON Customers.customer_id = Orders.customer_id WHERE Customers.customer_id = 1 LIMIT 1"

ejecutar_query(query=query)

2024-12-11 20:01:06,112 INFO sqlalchemy.engine.Engine BEGIN (implicit)

2024-12-11 20:01:06,137 INFO sqlalchemy.engine.Engine SELECT Customers.customer_name AS Nombre FROM Customers FULL JOIN Customers.customer_id = Orders.customer_id WHERE Customers.customer_id = 1 LIMIT 1
2024-12-11 20:01:06,158 INFO sqlalchemy.engine.Engine [generated in 0.04632s] ()
2024-12-11 20:01:06,170 INFO sqlalchemy.engine.Engine ROLLBACK

'Error al ejecutar la query: (sqlite3.OperationalError) near "=": syntax error\n[SQL: SELECT Customers.customer_name AS Nombre FROM Customers FULL JOIN Customers.customer_id = Orders.customer_id WHERE Customers.customer_id = 1 LIMIT 1]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)'

In [66]:
#en Pandas nos tocaría hacer un Merge, y bucar el nombre del cliente con el cliente_id
#aquí se hace parecido
query= """SELECT Customers.customer_name AS Nombre 
            FROM Customers 
            FULL JOIN ON Customers.customer_id = Orders.customer_id 
            WHERE Customers.customer_id = 1
            LIMIT 1"""

ejecutar_query(query=query)

2024-12-11 20:00:03,271 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 20:00:03,325 INFO sqlalchemy.engine.Engine SELECT Customers.customer_name AS Nombre
            FROM Customers
            FULL JOIN ON Customers.customer_id = Orders.customer_id
            WHERE Customers.customer_id = 1
            LIMIT 1
2024-12-11 20:00:03,355 INFO sqlalchemy.engine.Engine [generated in 0.08724s] ()
2024-12-11 20:00:03,362 INFO sqlalchemy.engine.Engine ROLLBACK

'Error al ejecutar la query: (sqlite3.OperationalError) near "ON": syntax error\n[SQL: SELECT Customers.customer_name AS Nombre \n            FROM Customers \n            FULL JOIN ON Customers.customer_id = Orders.customer_id \n            WHERE Customers.customer_id = 1\n            LIMIT 1]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)'

In [92]:
#pero tememos que tomar el valor customer_id del valor suma máximo de pedidos
#hay que hacer una doble consulta, como guardarlo en una variable, 
#usamos HAVING
query= """SELECT Customers.customer_name AS Nombre, sum(order_price) as "Total"
            FROM Orders 
            FULL JOIN Customers ON Customers.customer_id = Orders.customer_id 
            GROUP BY Customers.customer_name
            ORDER BY sum(order_price) DESC
            LIMIT 1"""

ejecutar_query(query=query)

2024-12-11 20:21:28,995 INFO sqlalchemy.engine.Engine BEGIN (implicit)

2024-12-11 20:21:29,014 INFO sqlalchemy.engine.Engine SELECT Customers.customer_name AS Nombre, sum(order_price) as "Total"
            FROM Orders
            FULL JOIN Customers ON Customers.customer_id = Orders.customer_id
            GROUP BY Customers.customer_name
            ORDER BY sum(order_price) DESC
            LIMIT 1
2024-12-11 20:21:29,064 INFO sqlalchemy.engine.Engine [cached since 60.39s ago] ()
2024-12-11 20:21:29,068 INFO sqlalchemy.engine.Engine ROLLBACK

  Nombre  Total
0   Juan    175

7. Retornar la duración promedio de los clientes que se dieron de baja.

In [ ]:
query= 'SELECT * FROM Customers'
#solo puedo trabajar con Laura
ejecutar_query(query=query)

2024-12-11 20:04:53,755 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 20:04:53,764 INFO sqlalchemy.engine.Engine SELECT * FROM Customers
2024-12-11 20:04:53,769 INFO sqlalchemy.engine.Engine [generated in 0.01326s] ()
2024-12-11 20:04:53,778 INFO sqlalchemy.engine.Engine ROLLBACK

   customer_id customer_name fecha_inicio   fecha_fin
0            1          Juan   1989-04-08        None
1            2         Mario   2005-05-05        None
2            3         Laura   2020-03-21  2022-02-05

In [79]:
query= 'SELECT CAST (AVG(fecha_fin - fecha_inicio) AS INT) AS "PromedioDías" FROM Customers WHERE fecha_fin IS NOT NULL'

ejecutar_query(query=query)

2024-12-11 20:08:33,813 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 20:08:33,822 INFO sqlalchemy.engine.Engine SELECT CAST (AVG(fecha_fin - fecha_inicio) AS INT) AS "PromedioDías" FROM Customers WHERE fecha_fin IS NOT NULL
2024-12-11 20:08:33,824 INFO sqlalchemy.engine.Engine [generated in 0.01148s] ()
2024-12-11 20:08:33,828 INFO sqlalchemy.engine.Engine ROLLBACK

   PromedioDías
0             2

8. Retornar los clientes que tienen una 'a' en el nombre.

In [85]:
query= 'SELECT customer_name FROM Customers WHERE customer_name LIKE "%a%"'

ejecutar_query(query=query)

2024-12-11 20:13:01,488 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 20:13:01,540 INFO sqlalchemy.engine.Engine SELECT customer_name FROM Customers WHERE customer_name LIKE "%a%"
2024-12-11 20:13:01,543 INFO sqlalchemy.engine.Engine [cached since 62.86s ago] ()
2024-12-11 20:13:01,547 INFO sqlalchemy.engine.Engine ROLLBACK

  customer_name
0          Juan
1         Mario
2         Laura